body{
    background: #171616;
    margin: 0;
    overflow-x: hidden;
}
main{
    background: linear-gradient(180deg, #321435 0%, #A141A9 5%, rgba(23, 22, 22, 0.00) 100%);
}
header{
    width: 100vw;
    height: 103px;
    background-color: #EBEBEB;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    gap: 317px;
    flex-wrap: wrap;
}
.logo-vw{
    display: inline-flex;
    align-items: center;
    gap: 12px;
    margin-left: 62px;
}

.logo-vw>img{
    width: 70px;
    height: 70px;
}
.logo-vw>p{
    color: #000;
    text-align: center;
    font-family: Montserrat, sans-serif;
    font-size: 28px;
    font-style: normal;
    font-weight: 500;
    line-height: 140%; /* 39.2px */
}
header>div:nth-child(2n){
    display: inline-flex;
    height: 32px;
    align-items: flex-start;
    gap: 75px;
}
header>div:nth-child(2n)>a:first-child{
    color: #000;
    text-align: center;
    font-family: Roboto, sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%; /* 28px */
    text-decoration: none;
}
header>div:nth-child(2n)>a:nth-child(n+2){
    color: #7F3F8A;
    text-align: center;
    font-family: Roboto, sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%; /* 28px */
    text-decoration: none;
}
header>div:nth-child(2n)>a:nth-child(n+3){
    color: #000;
    text-align: center;
    font-family: Roboto, sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%; /* 28px */
    text-decoration: none;
}
header>img{
    width: 30px;
    height: 27px;
    margin-right: 63px;
}
.sec1{
    height: 120vh;
    position: relative;
}
.bcg{
    width: 100%;
    position: absolute;
    z-index: 0;
}
.sec1>div{
}
.info-img{
    position: absolute;
    bottom: 5%; /* Змінено top на 0, щоб прикріпити .info-img до верхньої межі .sec1 */
    left: 0; /* Додано left на 0, щоб прикріпити .info-img до лівої межі .sec1 */
    padding: 20px; /* Додано відступи для кращого візуального вигляду */
    box-sizing: border-box; /* Змінено box-sizing на border-box, щоб padding не впливав на ширину .info-img */
    text-align: center; /* Центрування тексту всередині .info-img */
    margin-left: 55px;
    width: auto;
    margin-bottom: 50px;
}
.info-img>p{
    color: #FFF;
    text-align: center;
    font-family: Ruda, sans-serif;
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.info-img>div{

}
.info-img>div>button{
    width: 133px;
    height: 51px;
    border-radius: 5px;
    background: #FFF;
    color: #000;
    text-align: center;
    font-family: Ruda, sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    border: none;
    cursor: pointer;
}
.sec2{
    height: 65vh;
    margin-bottom: 100px;
}
.table{
    color: #FFF;
    text-align: center;
    font-family: Ruda, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    display: flex;
    justify-content: space-evenly;
    gap: 50%;
    align-items: center;
    margin-left: 128px;
    margin-right: 149px;
    text-decoration: underline;
    position: relative;
    top: 50px;
}
.group-left{
    display: flex;
    width: 260px;
    align-items: flex-start;
    align-content: flex-start;
    gap: 11px 66px;
    flex-wrap: wrap;
}
.group-right{
    display: flex;
    width: 208px;
    align-items: flex-start;
    align-content: flex-start;
    gap: 11px 25px;
    flex-wrap: wrap;
}
.text>p{
    margin-top: 0;
    margin-bottom: 0;
}
.group1{
    display: flex;
    align-items: flex-start;
    gap: 105px;
}
.group2{
    display: flex;
    align-items: flex-start;
    gap: 103px;
}
.group3{
    display: flex;
    align-items: flex-start;
    gap: 48px;
}
.group4{
    display: flex;
    align-items: flex-start;
    gap: 116px;
}
.group5{
    display: flex;
    align-items: flex-start;
    gap: 114px;
}
.group6{
    display: flex;
    align-items: flex-start;
    gap: 99px;
}
.group7{
    display: flex;
    align-items: flex-start;
    gap: 66px;
}
.group8{
    display: flex;
    align-items: flex-start;
    gap: 68px;
}
.group9{
    display: flex;
    align-items: flex-start;
    gap: 68px;
}
.group10{
    display: flex;
    align-items: flex-start;
    gap: 63px;
}
.group11{
    display: flex;
    align-items: flex-start;
    gap: 67px;
}
.photo{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 61px;
}
.rectangle{
    height: 20vh;
    background: #FFF;
    position: relative;
    z-index: -1;
    bottom: 100px;
}




.sec3{
    height: 70vh;
}
.sec3>div{
    display: flex;
    height: 508px;
    flex-direction: column;
    align-items: center;
    gap: 60px;
    flex-shrink: 0;
}
.up-block{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}
.up-block>p{
    color: #FFF;
    font-family: Montserrat, sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 180%; /* 32.4px */
    text-transform: capitalize;
}
.hr-block{
    width: 464px;
    height: 43px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.hr-block>hr{
    width: 464px;
    height: 1px;
    background: #D3D5E0;
}
.hr-block>div{
    display: flex;
    padding: 0px 10px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background: var(--background-bg, #F8F8F8);
}
.hr-block>div>p{
    color: var(--main-dark, #100E34);
    text-align: center;
    font-family: Montserrat,sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 180%; /* 43.2px */
    text-transform: capitalize;
}
.three-blocks{
    display: flex;
    align-items: flex-start;
    gap: 27px;
}
.block{
    display: flex;
    padding: 30px;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
    border-radius: 15px;
    background: var(--main-white, #FFFFFE);

    /* shadow */
    box-shadow: 0px 30px 80px 0px rgba(0, 0, 0, 0.04);
}
.up-text{
    color: var(--main-dark, #100E34);
    font-family: Montserrat, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 180%; /* 28.8px */
    text-transform: capitalize;
}
.down-text{
    width: 262px;
    color: var(--Gray-Gray-4, #666872);
    font-family: Montserrat, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 180%; /* 28.8px */
    text-transform: capitalize;
}
footer{
    background: #EBEBEB;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
footer>div:nth-child(2n)>p:first-child{
    color: #000;
    font-family: Montserrat, sans-serif;
    font-size: 28px;
    font-style: normal;
    font-weight: 500;
    line-height: 140%; /* 39.2px */
    margin-bottom: 0;
}
footer>div:nth-child(2n)>div{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    margin-bottom: 20px;
}
footer>div:nth-child(2n)>div>p{
    color: #000;
    text-align: center;
    font-family: Montserrat, sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 140%; /* 28px */
    width: 200px;
    margin-bottom: 0;
    margin-top: 0;
}
.map{
    width: 237px;
    height: 148px;
    margin-right: 62px;
}

