body{
    background: #171616;
    margin: 0;
}
header{
    width: 100vw;
    height: 103px;
    background-color: #EBEBEB;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    gap: 317px;
    flex-wrap: wrap;
}
.logo-vw{
    display: inline-flex;
    align-items: center;
    gap: 12px;
    margin-left: 62px;
}

.logo-vw>img{
    width: 70px;
    height: 70px;
}
.logo-vw>p{
    color: #000;
    text-align: center;
    font-family: Montserrat, sans-serif;
    font-size: 28px;
    font-style: normal;
    font-weight: 500;
    line-height: 140%; /* 39.2px */
}
header>div:nth-child(2n){
    display: inline-flex;
    height: 32.729px;
    align-items: flex-start;
    gap: 75px;
}
header>div:nth-child(2n)>a:first-child{
    color: #7F3F8A;
    text-align: center;
    font-family: Roboto, sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%; /* 28px */
    text-decoration: none;
}
header>div:nth-child(2n)>a:nth-child(n+2){
    color: #000;
    text-align: center;
    font-family: Roboto, sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%; /* 28px */
    text-decoration: none;
}
header>img{
    width: 30px;
    height: 27px;
    margin-right: 63px;
}

.first-section{
    height: 903px;
    background: radial-gradient(64.79% 59.53% at 39.34% 41.43%, #E548B0 0%, rgba(23, 22, 22, 0.00) 100%);
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}
.bcg-img{
    border-radius: 20px;
    background: url("https://s3-alpha-sig.figma.com/img/7bd1/0c39/00fe1823ae1cfe3bf7de3a27c82c8ab2?Expires=1710720000&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=nr-ulHkQuECNbcrxxUu1Z2BQmV7bSJHRz-EQHYIq2B3or9rgMN~4VtC4o2g1VwdDBt~eKqm5wCqvghaumTcJuXDx1RRmDewuc~PwjxLHSm~ERB6dnqCEjCZ4A6bCyH5RnE6FQQEB8yL5-iT-285t7uC8NesIMF9r~4YK5pA1DETyGJ1etMl1Ja3e4sdG6F0NZKjTrWMzCNeNN1uGZNfzL1nUaxU~9IBOKUfU5KgyuHEp9~GtLfCnj1EpNkd76rDfi1VLCRNLVCvhpxN2gXFDMNcxnvxL82~hPafX6Hfk66c4JY2Ni-0YMibCOW0QqyG6lVn9f19zD2MUnqMIEQjqOQ__"), lightgray 50% / cover no-repeat;
    width: 92vw;
    height: 85vh;
    margin-left: 62px;
    margin-top: 60px;
}
.bcg-img>div{
    width: 542px;
    height: 251px;
    border-radius: 50px;
    background: #CACACA;
    background: rgba(202, 202, 202, 0.5);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    position: absolute;
    left: 100px;
    bottom: 1px;
}
.bcg-img>div>h1{
    color: #000;
    font-family: Roboto,sans-serif;
    font-size: 50px;
    font-style: normal;
    font-weight: 600;
    line-height: 140%; /* 70px */
    margin-top: 10px;
    margin-left: 20px;
    margin-bottom: 0;
}
.bcg-img>div>div{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 76px;

}
.bcg-img>div>div>p{
    color: #000;
    font-family: Ruda, sans-serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 500;
    line-height: 140%; /* 56px */
    margin-top: 0;
    margin-left: 20px;
    height: 53px;
}
.bcg-img>div>div>button{
    border-radius: 10px;
    cursor: pointer;
    background: #151515;
    color: #FFF;
    font-family: Ruda,sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 140%; /* 33.6px */
    border: white;
    height: 50px;
    width: 120px;
}
.second-section{
    height: 70vh;
    background: linear-gradient(328deg, rgba(150, 117, 191, 0.52) -3.84%, rgba(23, 22, 22, 0.00) 41.43%);
    width: 100vw;
}
.second-section>div>div:first-child>p{
    color: #FFF;
    font-family: Lato, sans-serif;
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%; /* 36px */
    margin-left: 62px;
}
.second-section>div>div:nth-child(2n){
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.second-section>div>div:nth-child(2n)>img{
    width: 400px;
    height: 250px;
}
.second-section>div>div:nth-child(2n)>p{
    color: #FFF;
    font-family: Ruda, sans-serif;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%; /* 32px */
    margin-right: 110px;
}
.second-section>div>div:nth-child(n+3){
    display: flex;
    justify-content: center;
    align-items: center;
}
.second-section>div>div:nth-child(n+3)>p{
    color: #FFF;
    font-family: Ruda, sans-serif;
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height: 70px; /* 218.75% */
    margin-top: 120px;

}
.third-section{
    background: linear-gradient(103deg, rgba(150, 117, 191, 0.50) 47.01%, rgba(106, 93, 123, 0.00) 59.24%);
    height: 20vh;
    width: 100vw;
    display: flex;
    align-items: center;
}
.third-section>div{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100vw;

}
.third-section>div>div{
    display: inline-flex;
    align-items: center;
    gap: 225px
}
.third-section>div>div>p{
    color: #FFF;
    font-family: Roboto, sans-serif;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: 70px; /* 218.75% */
    margin-left: 62px;
}
.third-section>div>div>div{
    display: flex;
    align-items: center;
    gap: 36px;
}
.third-section>div>div>div>img{
    width: 35px;
    height: 44px;
}
.form-div{
    height: 81px;
}

input[type="submit"]{
    border-radius: 20px;
    border: white;
    background: #8B709F;
    color: #FFF;
    font-family: Roboto, sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 70px; /* 291.667% */
    width: 153px;
    height: 81px;
    position: relative;
    right: 140px;
}
input[type="text"]{
    border-radius: 10px;
    background: #3F3F3F;
    color: #FFF;
    border: white;
    font-family: Roboto, sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 70px; /* 291.667% */
    width: 519px;
    height: 70px;
}
footer{
    background: #EBEBEB;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
footer>div:nth-child(2n)>p:first-child{
    color: #000;
    text-align: center;
    font-family: Montserrat, sans-serif;
    font-size: 28px;
    font-style: normal;
    font-weight: 500;
    line-height: 140%; /* 39.2px */
}
footer>div:nth-child(2n)>div{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
}
footer>div:nth-child(2n)>div>p{
    color: #000;
    text-align: center;
    font-family: Montserrat, sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 140%; /* 28px */
    width: 200px;
}
footer>img{
    width: 319px;
    height: 259px;
    margin-right: 62px;
}

