body{
    background: #171616;
    margin: 0;
    overflow-x: hidden;
}

header{
    width: 100vw;
    height: 103px;
    background-color: #EBEBEB;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    gap: 317px;
    flex-wrap: wrap;
}
.logo-vw{
    display: inline-flex;
    align-items: center;
    gap: 12px;
    margin-left: 62px;
}

.logo-vw>img{
    width: 70px;
    height: 70px;
}
.logo-vw>p{
    color: #000;
    text-align: center;
    font-family: Montserrat, sans-serif;
    font-size: 28px;
    font-style: normal;
    font-weight: 500;
    line-height: 140%; /* 39.2px */
}
header>div:nth-child(2n){
    display: inline-flex;
    height: 32px;
    align-items: flex-start;
    gap: 75px;
}
header>div:nth-child(2n)>a:first-child{
    color: #000;
    text-align: center;
    font-family: Roboto, sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%; /* 28px */
    text-decoration: none;
}
header>div:nth-child(2n)>a:nth-child(n+2){
    color: #000;
    text-align: center;
    font-family: Roboto, sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%; /* 28px */
    text-decoration: none;
}
header>div:nth-child(2n)>a:nth-child(n+3){
    color: #000;
    text-align: center;
    font-family: Roboto, sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%; /* 28px */
    text-decoration: none;
}
header>img{
    width: 30px;
    height: 27px;
    margin-right: 63px;
}
main{
    display: flex;
    height: 110vh;
    justify-content: center;
    align-items: center;
    background: radial-gradient(294.53% 33.56% at 56.18% 24.59%, #712E77 0%, rgba(50, 20, 53, 0.48) 99.98%, rgba(50, 20, 53, 0.45) 99.99%, rgba(50, 20, 53, 0.00) 100%);
}
section{
    width: 595.297px;
    height: 626px;
    border-radius: 30px;
    background: #FFF;
    box-shadow: 0px 4px 17px 0px rgba(0, 0, 0, 0.17);
}
section>div{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    width: 595.297px;
    height: 626px;
}
.form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 25px;
}
.input-wrapper {
    position: relative;
    margin-bottom: 20px;
    width: 273px;
    height: 40px;
}

.input-wrapper input {
    padding: 10px;
    border: 1px solid #F8F1FF;
    font-size: 16px;
    width: 273px;
    height: 40px;
    border-radius: 7px;
    background: #F8F1FF;
}

.input-label {
    position: absolute;
    top: -10px;
    left: 10px;
    pointer-events: none;
    transition: top 0.3s ease, font-size 0.3s ease;
    color: #403A4B;
    font-family: Ruda, sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.input-wrapper input:focus + .input-label,
.input-wrapper input:not(:placeholder-shown) + .input-label {
    top: 5px;
    color: rgba(64, 58, 75, 0.60);
    font-family: Ruda, sans-serif;
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
#first_name{
    width: 273px;
    height: 30px;
    flex-shrink: 0;
}
#last_name{
    width: 274px;
    height: 30px;
    flex-shrink: 0;
}
#email{
    width: 274px;
    height: 30px;
    flex-shrink: 0;
}
#password{
    width: 274px;
    height: 30px;
    flex-shrink: 0;
}
#confirm_password{
    width: 267px;
    height: 30px;
    flex-shrink: 0;
}
.a-log-sig{
    display: flex;
    justify-content: center;
    gap: 183px;
}
.a-log-sig>a{
    color: #000;
    font-family: Ruda, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
}
.down-block{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.down-block>hr{
    background: #000;
    width: 354.839px;
    height: 0.5px;
}
.down-block>button{
    border-radius: 7px;
    border: 1px solid #985ACE;
    background: #FFF;
    display: inline-flex;
    height: 39.936px;
    padding: 0px 20px 0px 20px;
    justify-content: flex-end;
    align-items: center;
    gap: 20px;
    flex-shrink: 0;
    color: #000;
    text-align: center;
    font-family: Ruda, sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: capitalize;
}
.submit{
    width: 273px;
    height: 40px;
    flex-shrink: 0;
    border-radius: 7px;
    background: #985ACE;
    border: none;
    color: #FFF;
    text-align: center;
    font-family: Ruda, sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
}
footer{
    background: #EBEBEB;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
footer>div:nth-child(2n)>p:first-child{
    color: #000;
    font-family: Montserrat, sans-serif;
    font-size: 28px;
    font-style: normal;
    font-weight: 500;
    line-height: 140%; /* 39.2px */
    margin-bottom: 0;
}
footer>div:nth-child(2n)>div{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    margin-bottom: 20px;
}
footer>div:nth-child(2n)>div>p{
    color: #000;
    text-align: center;
    font-family: Montserrat, sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 140%; /* 28px */
    width: 200px;
    margin-bottom: 0;
    margin-top: 0;
}
.map{
    width: 237px;
    height: 148px;
    margin-right: 62px;
}